openapi: 3.1.0
info:
  title: AUROS Protocol
  version: "1.0"
  x-logo:
    url: https://getauros.com/auros-logo.svg
    altText: AUROS
  description: |
    The RWA Intelligence Layer — indicative MiCA scoring, RWA catalog, jurisdiction ranking,
    and compliance checklists. Not legal advice.

    **Base URLs (production):** `https://getauros.com` or `https://api.getauros.com` (API subdomain)

    **Authentication:** Bearer token (`auros_pk_live_*` or `auros_pk_test_*`). Demo key: `auros_pk_test_demo`.

    **Free tier:** 100 requests/month per key. Key creation via `POST /api/v1/keys` (no auth).

    **Response headers (every response):** `X-AUROS-Protocol-Version: 1.0`, `X-AUROS-Logo: https://getauros.com/auros-logo.svg`, `X-Response-Time` (request duration in ms). Authenticated routes and IP-limited endpoints also return `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset` (Unix timestamp — monthly key quota resets on the 1st UTC).

    **SDKs:** `@adrien1212balitrand/auros-protocol` (npm), `auros-protocol` (pip). Docs: `/developers/docs`.

    **Postman:** Import `/auros-postman.json` (collection v2.1 — all v1 endpoints, demo key pre-filled).
  contact:
    name: AUROS
    url: https://getauros.com/developers
    email: contact@getauros.com
  license:
    name: Proprietary
    url: https://getauros.com/trust
externalDocs:
  description: Developer hub, playground & Postman collection (/auros-postman.json)
  url: https://getauros.com/developers
servers:
  - url: https://getauros.com
    description: Production (main domain)
  - url: https://api.getauros.com
    description: Production (API subdomain — same endpoints under /api/v1/*)
  - url: http://localhost:3000
    description: Local development
security:
  - bearerAuth: []
tags:
  - name: Intelligence
    description: MiCA scoring and compliance
  - name: Catalog
    description: RWA product data
  - name: Keys
    description: API key management
  - name: Premium
    description: Monitor, dossier, attest, webhooks — requires live key or paid tier
  - name: Status
    description: Public health checks — no auth
  - name: Public
    description: Public verify endpoints — no auth
  - name: Green
    description: AUROS Green scoring — Watt Score, Carbon Quality Score (CQS)
paths:
  /api/v1/status:
    get:
      tags: [Status]
      summary: API health status
      operationId: status
      security: []
      description: |
        Public health check — probes scoring engine, product catalog, jurisdiction ranking,
        and key storage. No authentication required.
      responses:
        "200":
          description: System status
          headers:
            X-AUROS-Protocol-Version:
              schema:
                type: string
                example: "1.0"
            X-AUROS-Logo:
              schema:
                type: string
                format: uri
            X-Response-Time:
              schema:
                type: string
                example: "12ms"
          content:
            application/json:
              schema:
                type: object
                required: [status, services, version, timestamp]
                properties:
                  status:
                    type: string
                    enum: [operational, degraded, down]
                  services:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        status:
                          type: string
                        latency_ms:
                          type: integer
                        message:
                          type: string
                  version:
                    type: string
                  app_version:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
                  deploy:
                    type: object
                    properties:
                      environment:
                        type: string
                      commit:
                        type: string
                        nullable: true
                      ref:
                        type: string
                        nullable: true
  /api/v1/score:
    post:
      tags: [Intelligence]
      summary: MiCA intelligence score
      operationId: score
      description: |
        Compute an indicative MiCA readiness score (0–100) with grade, five-dimension breakdown,
        classification, gaps, recommendations, and jurisdiction/platform suggestions.
        Accepts free-text `description` and/or structured compliance fields.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScoreRequest"
            examples:
              textOnly:
                summary: Free-text description
                value:
                  description: "Retail warehouse Luxembourg €2.5M SPV professional investors whitepaper draft"
              structured:
                summary: Structured fields
                value:
                  asset_type: real_estate
                  issuer_type: company_spv
                  investor_type: professional
                  whitepaper: draft
                  jurisdiction: luxembourg
                  value_eur: 2500000
                  has_kyc: true
                  has_data_room: false
      responses:
        "200":
          description: Score result
          headers:
            X-AUROS-Protocol-Version:
              schema:
                type: string
                example: "1.0"
            X-AUROS-Logo:
              schema:
                type: string
                format: uri
                example: https://getauros.com/auros-logo.svg
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScoreResponse"
              example:
                disclaimer: "Indicative intelligence only — not legal, tax, or investment advice."
                score: 72
                grade: "B-"
                status: progress
                breakdown:
                  legal_structure: 78
                  kyc_aml: 65
                  mica_compliance: 70
                  data_room: 55
                  investor_protection: 80
                mica_classification: financial_instrument
                critical_gaps:
                  - "Complete whitepaper before retail distribution"
                recommendations:
                  - "Incorporate an EU SPV or regulated fund vehicle before retail distribution."
                recommended_jurisdictions:
                  - id: luxembourg
                    score: 88
                    rationale: "Strong fund/SPV framework for professional real estate RWA."
                recommended_platforms:
                  - id: maple
                    name: Maple
                    category: private_credit
                    apy: 8.2
                meta:
                  version: "1.0"
                  computed_at: "2026-06-11T10:00:00.000Z"
                  full_report_url: "https://getauros.com/wizard"
                  parsed_keywords: ["warehouse", "luxembourg", "spv"]
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimit"
  /api/v1/score/batch:
    post:
      tags: [Intelligence]
      summary: Batch MiCA intelligence scores
      operationId: scoreBatch
      description: |
        Score up to 20 assets in a single request for institutional portfolios.
        Each item accepts the same payload as POST /api/v1/score (free-text `description`
        and/or structured compliance fields).

        **Partial success:** invalid items return `{ ok: false, error }` at their index;
        valid items still receive full score results with `score_id`.

        **Quota:** counts as **1 request** against the monthly API key quota (not N items).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScoreBatchRequest"
            example:
              record_history: true
              items:
                - description: "Retail warehouse Luxembourg €2.5M SPV professional investors"
                - asset_type: bonds
                  issuer_type: company_spv
                  whitepaper: draft
                  has_kyc: true
      responses:
        "200":
          description: Batch score results (may include per-item errors)
          headers:
            X-AUROS-Protocol-Version:
              schema:
                type: string
                example: "1.0"
            X-AUROS-Logo:
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScoreBatchResponse"
              example:
                disclaimer: "Indicative intelligence only — not legal, tax, or investment advice."
                total: 2
                succeeded: 2
                failed: 0
                items:
                  - index: 0
                    ok: true
                    score_id: scr_a1b2c3d4e5f6789012345678
                    history_url: https://getauros.com/api/v1/score/scr_a1b2c3d4e5f6789012345678/history
                    score: 72
                    grade: "B-"
                    status: progress
                    mica_classification: financial_instrument
                    breakdown:
                      legal_structure: 78
                      kyc_aml: 65
                      mica_compliance: 70
                      data_room: 55
                      investor_protection: 80
                    critical_gaps: []
                    recommendations: []
                    recommended_jurisdictions: []
                    recommended_platforms: []
                    meta:
                      version: "1.0"
                      computed_at: "2026-06-12T12:00:00.000Z"
                      full_report_url: https://getauros.com/wizard
                      parsed_keywords: []
                  - index: 1
                    ok: false
                    error:
                      code: validation_error
                      message: "Provide description or structured asset/compliance fields"
                meta:
                  version: "1.0"
                  computed_at: "2026-06-12T12:00:00.000Z"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimit"
  /api/v1/score/{id}/history:
    get:
      tags: [Intelligence]
      summary: Score history for a session or monitor
      operationId: scoreHistory
      description: |
        Return chronological score snapshots for a `scr_*` session (from POST /api/v1/score)
        or a premium `mon_*` monitor. Requires Bearer auth; scoped to the API key that created the session.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: "^(scr|mon)_[a-f0-9]{24}$"
          description: Score session id (`scr_…`) or monitor id (`mon_…`)
      responses:
        "200":
          description: Score history entries
          headers:
            X-AUROS-Protocol-Version:
              schema:
                type: string
                example: "1.0"
            X-AUROS-Logo:
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScoreHistoryResponse"
              example:
                disclaimer: "Indicative intelligence only — not legal, tax, or investment advice."
                score_id: scr_a1b2c3d4e5f6789012345678
                kind: session
                total: 2
                entries:
                  - id: 1
                    score: 68
                    grade: C+
                    status: progress
                    breakdown:
                      legal_structure: 70
                      kyc_aml: 60
                      mica_compliance: 65
                      data_room: 50
                      investor_protection: 75
                    mica_classification: financial_instrument
                    created_at: "2026-06-12T10:00:00.000Z"
                  - id: 2
                    score: 72
                    grade: B-
                    status: progress
                    breakdown:
                      legal_structure: 78
                      kyc_aml: 65
                      mica_compliance: 70
                      data_room: 55
                      investor_protection: 80
                    mica_classification: financial_instrument
                    created_at: "2026-06-12T11:00:00.000Z"
                meta:
                  version: "1.0"
                  computed_at: "2026-06-12T11:05:00.000Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimit"
  /api/v1/products:
    get:
      tags: [Catalog]
      summary: RWA product catalog
      operationId: products
      description: Paginated catalog of 120+ tokenized RWA products with APY, TVL, chains, and jurisdiction.
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [stablecoins, real_estate, bonds, commodities, private_credit, all]
            default: all
        - name: jurisdiction
          in: query
          schema:
            type: string
            maxLength: 64
        - name: chain
          in: query
          schema:
            type: string
            maxLength: 64
        - name: yield_min
          in: query
          schema:
            type: number
            minimum: 0
        - name: yield_max
          in: query
          schema:
            type: number
            minimum: 0
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: sort
          in: query
          schema:
            type: string
            enum: [apy, tvl, name]
            default: apy
      responses:
        "200":
          description: Paginated products
          headers:
            X-AUROS-Protocol-Version:
              schema:
                type: string
                example: "1.0"
            X-AUROS-Logo:
              schema:
                type: string
                format: uri
                example: https://getauros.com/auros-logo.svg
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductsResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimit"
  /api/v1/benchmarks:
    get:
      tags: [Catalog]
      summary: Sector RWA benchmarks
      operationId: benchmarks
      description: |
        Sector benchmarks (median APY, P25/P75 quartiles, product count) computed from the `/compare` hub.
        Optional `jurisdiction` filter. Falls back to curated static benchmarks when live yield data is sparse (< 3 products).
      security:
        - bearerAuth: []
      parameters:
        - name: category
          in: query
          required: true
          schema:
            type: string
            enum: [bonds, stablecoins, real_estate, private_credit, commodities]
        - name: jurisdiction
          in: query
          schema:
            type: string
            maxLength: 64
          description: Partial match on product jurisdiction (e.g. EU, US, CH, Luxembourg)
      responses:
        "200":
          description: Sector benchmark metrics
          headers:
            X-AUROS-Protocol-Version:
              schema:
                type: string
                example: "1.0"
            X-AUROS-Logo:
              schema:
                type: string
                format: uri
                example: https://getauros.com/auros-logo.svg
            X-Response-Time:
              schema:
                type: string
                example: "18ms"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BenchmarksResponse"
              example:
                category: bonds
                jurisdiction: EU
                metrics:
                  median_apy: 4.45
                  p25_apy: 4.2
                  p75_apy: 4.7
                  product_count: 9
                as_of: "2026-06-30"
                disclaimer: Indicative intelligence only — not legal, tax, or investment advice.
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimit"
  /api/v1/compare:
    post:
      tags: [Catalog]
      summary: Side-by-side RWA product comparison
      operationId: compare
      description: |
        Compare 2–4 tokenized RWA products side-by-side — mirrors the `/compare` hub.
        Pass explicit `product_ids` or filter criteria (`category`, `yield_min`, `risk_tier`, `jurisdiction`, `limit`).
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompareRequest"
            examples:
              byIds:
                summary: Compare by product IDs
                value:
                  product_ids: ["maple-usdc", "realt-portfolio", "backed-bib01"]
              byFilter:
                summary: Compare top matches by filter
                value:
                  category: bonds
                  yield_min: 4
                  risk_tier: core
                  limit: 3
      responses:
        "200":
          description: Structured comparison payload
          headers:
            X-AUROS-Protocol-Version:
              schema:
                type: string
                example: "1.0"
            X-AUROS-Logo:
              schema:
                type: string
                format: uri
                example: https://getauros.com/auros-logo.svg
            X-Response-Time:
              schema:
                type: string
                example: "42ms"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompareResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Unknown product ID in product_ids mode
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProtocolError"
        "429":
          $ref: "#/components/responses/RateLimit"
  /api/v1/jurisdictions:
    get:
      tags: [Intelligence]
      summary: Jurisdiction ranking
      operationId: jurisdictions
      description: Rank regulatory jurisdictions by asset type, investor profile, timeline, and budget.
      parameters:
        - name: asset_type
          in: query
          schema:
            type: string
            enum: [real_estate, bonds, private_credit, funds, all]
            default: all
        - name: investor_type
          in: query
          schema:
            type: string
            enum: [professional, retail, mixed, all]
            default: all
        - name: timeline_months
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 36
        - name: budget
          in: query
          schema:
            type: integer
            minimum: 0
      responses:
        "200":
          description: Ranked jurisdictions
          headers:
            X-AUROS-Protocol-Version:
              schema:
                type: string
                example: "1.0"
            X-AUROS-Logo:
              schema:
                type: string
                format: uri
                example: https://getauros.com/auros-logo.svg
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JurisdictionsResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimit"
  /api/v1/checklist:
    post:
      tags: [Intelligence]
      summary: Compliance checklist
      operationId: checklist
      description: Generate 20+ compliance items for an asset type, jurisdiction, and legal structure.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChecklistRequest"
            example:
              asset_type: real_estate
              jurisdiction: luxembourg
              structure: spv
      responses:
        "200":
          description: Checklist items
          headers:
            X-AUROS-Protocol-Version:
              schema:
                type: string
                example: "1.0"
            X-AUROS-Logo:
              schema:
                type: string
                format: uri
                example: https://getauros.com/auros-logo.svg
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChecklistResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimit"
  /api/v1/keys:
    post:
      tags: [Keys]
      summary: Create API key
      operationId: createKey
      security: []
      description: |
        Request a free-tier API key (100 requests/month). No authentication required.
        Rate-limited by IP (5 requests/hour). The raw key is returned once — store securely.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateKeyRequest"
            example:
              email: developer@company.com
      responses:
        "200":
          description: Key created
          headers:
            X-AUROS-Protocol-Version:
              schema:
                type: string
                example: "1.0"
            X-AUROS-Logo:
              schema:
                type: string
                format: uri
                example: https://getauros.com/auros-logo.svg
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateKeyResponse"
              example:
                disclaimer: "Indicative intelligence only — not legal, tax, or investment advice."
                ok: true
                api_key: auros_pk_live_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                tier: free
                monthly_limit: 100
                message: "Store this key securely — it will not be shown again."
        "400":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimit"
  /api/v1/monitor:
    post:
      tags: [Premium]
      summary: Register asset monitor
      operationId: monitor
      description: |
        Premium endpoint. Register an asset profile for regulatory monitoring.
        Requires `auros_pk_live_*` or premium tier. Pricing: 49€/mo (5 assets), 199€/mo (25 assets).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MonitorRequest"
      responses:
        "201":
          description: Monitor created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MonitorResponse"
        "403":
          $ref: "#/components/responses/PremiumRequired"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "400":
          $ref: "#/components/responses/ValidationError"
  /api/v1/monitor/{id}:
    get:
      tags: [Premium]
      summary: Get monitor status
      operationId: getMonitor
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Monitor status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MonitorResponse"
        "403":
          $ref: "#/components/responses/PremiumRequired"
        "404":
          description: Not found
    delete:
      tags: [Premium]
      summary: Delete monitor
      operationId: deleteMonitor
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Deleted
        "403":
          $ref: "#/components/responses/PremiumRequired"
        "404":
          description: Not found
  /api/v1/dossier:
    post:
      tags: [Premium]
      summary: Generate institutional dossier
      operationId: dossier
      description: |
        Premium endpoint. Generate PDF or JSON institutional MiCA readiness report.
        PDF returns HMAC-signed download_url valid 24h.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DossierRequest"
      responses:
        "200":
          description: Dossier generated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DossierResponse"
        "403":
          $ref: "#/components/responses/PremiumRequired"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/attest:
    post:
      tags: [Premium]
      summary: Create readiness attestation
      operationId: createAttestation
      description: |
        Premium. SHA-256 of a canonical readiness snapshot + HMAC signature.
        Public verify via GET /api/v1/attest/verify and UI /attest/{id}.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttestCreateRequest"
      responses:
        "200":
          description: Attestation created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttestResponse"
        "403":
          $ref: "#/components/responses/PremiumRequired"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          description: Signing key not configured
  /api/v1/attest/verify:
    get:
      tags: [Public]
      summary: Verify readiness attestation
      operationId: verifyAttestation
      security: []
      description: |
        Public. Query `id` for stored attestation, or `hash`+`sig` for stateless HMAC check.
      parameters:
        - name: id
          in: query
          schema: { type: string }
        - name: hash
          in: query
          schema: { type: string, pattern: "^[a-f0-9]{64}$" }
        - name: sig
          in: query
          schema: { type: string, pattern: "^[a-f0-9]{64}$" }
      responses:
        "200":
          description: Verification result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttestVerifyResponse"
        "404":
          description: Attestation not found
  /api/v1/attest/{id}:
    get:
      tags: [Public]
      summary: Get attestation by id
      operationId: getAttestation
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Attestation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttestResponse"
        "404":
          description: Not found
  /api/v1/chargeflow:
    get:
      tags: [Premium]
      summary: List ChargeFlow units for API key
      operationId: listChargeflow
      description: |
        Premium. Returns CFU-E/W/F minted by this key. Filter with kind (e|w|f) and status (active|retired).
        Console UI: /green/chargeflow/console.
      parameters:
        - name: kind
          in: query
          schema: { type: string, enum: [e, w, f] }
        - name: status
          in: query
          schema: { type: string, enum: [active, retired] }
        - name: operator_id
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 50 }
        - name: offset
          in: query
          schema: { type: integer, minimum: 0, default: 0 }
      responses:
        "200":
          description: Unit list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeflowListResponse"
        "403":
          $ref: "#/components/responses/PremiumRequired"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Premium]
      summary: Register CFU-E charge session unit
      operationId: createChargeflowCfuE
      description: |
        Premium. Off-chain ChargeFlow Unit Energy — SHA-256 + HMAC (`auros-cfu-e:v1:`).
        Rejects duplicate active mint for same key + operator + external_session_id (409).
        Public verify via GET /api/v1/chargeflow/verify and UI /chargeflow/{id}.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChargeflowCreateRequest"
      responses:
        "200":
          description: CFU-E registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeflowResponse"
        "409":
          description: Active unit already exists for this session
        "403":
          $ref: "#/components/responses/PremiumRequired"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          description: Signing key not configured
  /api/v1/chargeflow/batch:
    post:
      tags: [Premium]
      summary: Batch register CFU-E units
      operationId: createChargeflowCfuEBatch
      description: |
        Premium. Up to 50 CFU-E mints per call. Partial success — per-item ok/error.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChargeflowEBatchRequest"
      responses:
        "200":
          description: Batch result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeflowBatchResponse"
        "403":
          $ref: "#/components/responses/PremiumRequired"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/chargeflow/from-ocpi:
    post:
      tags: [Premium]
      summary: Map offline OCPI CDR / CSV rows to CFU-E
      operationId: createChargeflowFromOcpi
      description: |
        Premium. Offline stub — accepts OCPI-like CDRs and/or CSV session rows (max 50 total).
        Not a live OCPI connection. Maps to CFU-E mint with source_format ocpi|csv.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChargeflowFromOcpiRequest"
      responses:
        "200":
          description: Batch mint result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeflowFromOcpiResponse"
        "403":
          $ref: "#/components/responses/PremiumRequired"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/chargeflow/partners:
    get:
      tags: [Public]
      summary: List ChargeFlow partner connectors
      operationId: listChargeflowPartners
      security: []
      description: |
        Public catalogue of format-compatible connectors (Tesla Fleet, TotalEnergies OCPI, generic OCPI).
        Not an official manufacturer partnership endorsement.
      responses:
        "200":
          description: Partner catalogue
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeflowPartnersListResponse"
  /api/v1/chargeflow/partners/sync:
    post:
      tags: [Premium]
      summary: Sync partner sessions to CFU-E
      operationId: syncChargeflowPartner
      description: |
        Premium. Sandbox uses fixtures (no credentials). Live requires partner tokens (not stored).
        Compatible API/format adapters only — not an official Tesla or TotalEnergies partnership.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChargeflowPartnerSyncRequest"
      responses:
        "200":
          description: Batch mint result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeflowPartnerSyncResponse"
        "400":
          description: Validation or credentials_required
        "403":
          $ref: "#/components/responses/PremiumRequired"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/chargeflow/verify:
    get:
      tags: [Public]
      summary: Verify ChargeFlow unit (E or W)
      operationId: verifyChargeflow
      security: []
      parameters:
        - name: id
          in: query
          schema: { type: string }
        - name: hash
          in: query
          schema: { type: string, pattern: "^[a-f0-9]{64}$" }
        - name: sig
          in: query
          schema: { type: string, pattern: "^[a-f0-9]{64}$" }
      responses:
        "200":
          description: Verification result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeflowResponse"
        "404":
          description: Not found
  /api/v1/chargeflow/{id}:
    get:
      tags: [Public]
      summary: Get ChargeFlow unit by id
      operationId: getChargeflow
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Unit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeflowResponse"
        "404":
          description: Not found
  /api/v1/chargeflow/{id}/retire:
    post:
      tags: [Premium]
      summary: Retire an active ChargeFlow unit
      operationId: retireChargeflow
      description: |
        Premium. Marks unit retired without re-signing the mint hash.
        Same API key that minted the unit required.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string, maxLength: 500 }
      responses:
        "200":
          description: Retired unit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeflowResponse"
        "403":
          $ref: "#/components/responses/PremiumRequired"
        "404":
          description: Not found
  /api/v1/chargeflow/demo:
    post:
      tags: [Public]
      summary: Sandbox CFU-E mint
      operationId: demoChargeflowCfuE
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChargeflowCreateRequest"
      responses:
        "200":
          description: Demo unit
  /api/v1/chargeflow/w:
    post:
      tags: [Premium]
      summary: Register CFU-W hydrological flow unit
      operationId: createChargeflowCfuW
      description: |
        Premium. Off-chain ChargeFlow Unit Water — SHA-256 + HMAC (`auros-cfu-w:v1:`) + H₂O companion.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChargeflowWCreateRequest"
      responses:
        "200":
          description: CFU-W registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeflowResponse"
        "409":
          description: Active unit already exists for this flow
        "403":
          $ref: "#/components/responses/PremiumRequired"
  /api/v1/chargeflow/w/batch:
    post:
      tags: [Premium]
      summary: Batch register CFU-W units
      operationId: createChargeflowCfuWBatch
      description: Premium. Up to 50 CFU-W mints; partial success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChargeflowWBatchRequest"
      responses:
        "200":
          description: Batch result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeflowBatchResponse"
        "403":
          $ref: "#/components/responses/PremiumRequired"
  /api/v1/chargeflow/w/verify:
    get:
      tags: [Public]
      summary: Verify CFU-W unit
      operationId: verifyChargeflowW
      security: []
      parameters:
        - name: id
          in: query
          schema: { type: string }
        - name: hash
          in: query
          schema: { type: string }
        - name: sig
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Verification result
  /api/v1/chargeflow/w/demo:
    post:
      tags: [Public]
      summary: Sandbox CFU-W mint
      operationId: demoChargeflowCfuW
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChargeflowWCreateRequest"
      responses:
        "200":
          description: Demo unit
  /api/v1/chargeflow/f:
    post:
      tags: [Premium]
      summary: Register CFU-F flexibility window unit
      operationId: createChargeflowCfuF
      description: |
        Premium. Off-chain ChargeFlow Unit Flex — SHA-256 + HMAC (`auros-cfu-f:v1:`) + Watt companion.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChargeflowFCreateRequest"
      responses:
        "200":
          description: CFU-F registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeflowResponse"
        "409":
          description: Active unit already exists for this window
        "403":
          $ref: "#/components/responses/PremiumRequired"
  /api/v1/chargeflow/f/batch:
    post:
      tags: [Premium]
      summary: Batch register CFU-F units
      operationId: createChargeflowCfuFBatch
      description: Premium. Up to 50 CFU-F mints; partial success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChargeflowFBatchRequest"
      responses:
        "200":
          description: Batch result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeflowBatchResponse"
        "403":
          $ref: "#/components/responses/PremiumRequired"
  /api/v1/chargeflow/f/verify:
    get:
      tags: [Public]
      summary: Verify CFU-F unit
      operationId: verifyChargeflowF
      security: []
      parameters:
        - name: id
          in: query
          schema: { type: string }
        - name: hash
          in: query
          schema: { type: string }
        - name: sig
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Verification result
  /api/v1/chargeflow/f/demo:
    post:
      tags: [Public]
      summary: Sandbox CFU-F mint
      operationId: demoChargeflowCfuF
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChargeflowFCreateRequest"
      responses:
        "200":
          description: Demo unit
  /api/v1/webhooks:
    post:
      tags: [Premium]
      summary: Register webhook
      operationId: registerWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookRegisterRequest"
      responses:
        "201":
          description: Webhook registered
        "403":
          $ref: "#/components/responses/PremiumRequired"
    get:
      tags: [Premium]
      summary: List webhooks
      operationId: listWebhooks
      responses:
        "200":
          description: Webhook list
        "403":
          $ref: "#/components/responses/PremiumRequired"
  /api/v1/webhooks/{id}:
    delete:
      tags: [Premium]
      summary: Delete webhook
      operationId: deleteWebhook
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Deleted
        "403":
          $ref: "#/components/responses/PremiumRequired"
  /api/v1/webhooks/{id}/deliveries:
    get:
      tags: [Premium]
      summary: List webhook delivery log
      operationId: listWebhookDeliveries
      description: |
        Paginated delivery log for a registered webhook — pending, delivered, failed, dead_letter.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
        - name: offset
          in: query
          schema: { type: integer, minimum: 0, default: 0 }
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, delivered, failed, dead_letter]
      responses:
        "200":
          description: Delivery log page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookDeliveriesResponse"
        "404":
          description: Webhook not found
        "403":
          $ref: "#/components/responses/PremiumRequired"
  /api/v1/webhooks/{id}/replay:
    post:
      tags: [Premium]
      summary: Replay webhook deliveries
      operationId: replayWebhookDeliveries
      description: |
        Replay dead-letter deliveries for a webhook. Optional body `{ "delivery_id": "whd_..." }`
        replays a single delivery instead of all dead_letter rows.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookReplayRequest"
      responses:
        "200":
          description: Replay result
        "404":
          description: Webhook or delivery not found
        "403":
          $ref: "#/components/responses/PremiumRequired"
  /api/v1/webhooks/deliveries/{delivery_id}/replay:
    post:
      tags: [Premium]
      summary: Replay a single delivery
      operationId: replayWebhookDelivery
      parameters:
        - name: delivery_id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Delivery replayed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookReplayResponse"
        "404":
          description: Delivery not found
        "403":
          $ref: "#/components/responses/PremiumRequired"
  /api/v1/regulatory/feed:
    get:
      tags: [Premium]
      summary: Curated regulatory intelligence feed
      operationId: regulatoryFeed
      description: |
        Premium endpoint. Returns curated ESMA/AMF/BaFin MiCA references (v1 static seed).
        v2 will add live polling. Filter by jurisdiction, tag, since date.
      parameters:
        - name: jurisdiction
          in: query
          schema: { type: string, example: france }
        - name: tag
          in: query
          schema:
            type: string
            enum: [mica, esma, amf, bafin]
        - name: since
          in: query
          schema: { type: string, format: date, example: "2025-01-01" }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 50 }
      responses:
        "200":
          description: Regulatory feed items
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegulatoryFeedResponse"
        "403":
          $ref: "#/components/responses/PremiumRequired"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/regulatory/subscribe:
    post:
      tags: [Premium]
      summary: Subscribe to regulatory feed alerts
      operationId: regulatorySubscribe
      description: |
        Premium endpoint. Subscribe to `regulatory.update` webhook events filtered by
        jurisdiction and optional tags. Complements POST /api/v1/webhooks.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegulatorySubscribeRequest"
      responses:
        "201":
          description: Subscription created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegulatorySubscribeResponse"
        "403":
          $ref: "#/components/responses/PremiumRequired"
        "429":
          $ref: "#/components/responses/RateLimit"
  /api/v1/regulatory/subscribe/{id}:
    get:
      tags: [Premium]
      summary: Get regulatory subscription
      operationId: getRegulatorySubscription
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Subscription status
        "404":
          description: Not found
        "403":
          $ref: "#/components/responses/PremiumRequired"
    delete:
      tags: [Premium]
      summary: Delete regulatory subscription
      operationId: deleteRegulatorySubscription
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Deleted
        "404":
          description: Not found
        "403":
          $ref: "#/components/responses/PremiumRequired"
  /api/green/watt/{id}:
    get:
      tags: [Green]
      summary: Public Watt Score by catalog id
      operationId: greenWattScore
      security: []
      description: |
        Free public read — indicative Watt Score (0–100) for an AUROS Green compare reference
        (solar, wind, REC, PPA). Returns `not_energy_asset` (422) for carbon-only references.

        **No authentication.** For portfolio batch scoring use `POST /api/v1/green/watt/batch`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: sunexchange
      responses:
        "200":
          description: Watt Score result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GreenWattPublicResponse"
        "404":
          description: Unknown compare reference id
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GreenNotFoundError"
        "422":
          description: Reference is not an energy asset
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GreenAssetTypeError"
  /api/v1/green/watt/batch:
    post:
      tags: [Green]
      summary: Batch Watt Scores
      operationId: greenWattBatch
      description: |
        Score up to **50 energy assets** in one call — solar portfolios, REC pipelines, PPA due diligence.

        Each item accepts either:
        - `id` — AUROS Green compare reference (e.g. `sunexchange`)
        - `text` — free-form description (min 10 chars; keywords solar, wind, PPA, REC, MWh…)

        **Partial success:** invalid items return `{ ok: false, error }` at their index.

        **Premium:** requires `auros_pk_live_*` or paid tier (Monitor / enterprise). Free test keys → 403.

        **Quota:** counts as **1 request** against the monthly API key quota.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GreenWattBatchRequest"
            example:
              items:
                - id: sunexchange
                - text: "Solar farm 12 MW PPA signed production MWh France"
      responses:
        "200":
          description: Batch Watt Score results (may include per-item errors)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GreenWattBatchResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PremiumRequired"
        "429":
          $ref: "#/components/responses/RateLimit"
  /api/green/h2o/{id}:
    get:
      tags: [Green]
      summary: Public H₂O Score by hydrological catalog id
      operationId: greenH2oScore
      security: []
      description: |
        Free public read — indicative H₂O Score (0–100) for AUROS water compare references.
        Listing-grade attestation requires AUROS Hydrological Passport dossier (`passport_required`).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: pilot-concession-france
      responses:
        "200":
          description: H₂O Score result
        "404":
          description: Unknown water reference id
  /api/v1/green/h2o/batch:
    post:
      tags: [Green]
      summary: Batch H₂O Scores
      operationId: greenH2oBatch
      description: |
        Score up to 50 hydrological assets per call. Premium API key required.
      responses:
        "200":
          description: Batch H₂O Score results
        "403":
          $ref: "#/components/responses/PremiumRequired"
  /api/eau/check:
    post:
      tags: [Green]
      summary: Hydrological readiness check (embed)
      operationId: eauCheck
      security: []
      description: Free embeddable H₂O Score preview with passport unlock URL.
      responses:
        "200":
          description: H₂O preview result
        "422":
          description: Not a hydrological asset
  /api/green/carbon-quality/{id}:
    get:
      tags: [Green]
      summary: Public Carbon Quality Score by catalog id
      operationId: greenCarbonQuality
      security: []
      description: |
        Free public read — indicative Carbon Quality Score (CQS, 0–100) for an AUROS Green
        compare carbon reference. Returns `not_carbon_asset` (422) for energy-only references.

        **No authentication.** For portfolio batch scoring use `POST /api/v1/green/carbon-quality/batch`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: toucan
      responses:
        "200":
          description: Carbon Quality Score result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GreenCqsPublicResponse"
        "404":
          description: Unknown compare reference id
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GreenNotFoundError"
        "422":
          description: Reference is not a carbon asset
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GreenAssetTypeError"
  /api/v1/green/carbon-quality/batch:
    post:
      tags: [Green]
      summary: Batch Carbon Quality Scores
      operationId: greenCarbonQualityBatch
      description: |
        Score up to **50 carbon credits** in one call — corporate portfolio or M&A pipeline.

        Each item accepts either:
        - `id` — AUROS Green compare reference (e.g. `toucan`)
        - `text` — free-form description (min 10 chars)

        **Partial success:** invalid items return `{ ok: false, error }` at their index.

        **Premium:** requires `auros_pk_live_*` or paid tier (Monitor / enterprise). Free test keys → 403.

        **Quota:** counts as **1 request** against the monthly API key quota.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GreenCqsBatchRequest"
            example:
              items:
                - id: toucan
                - text: "Gold Standard forestry credits retired 2024 Verra"
      responses:
        "200":
          description: Batch CQS results (may include per-item errors)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GreenCqsBatchResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PremiumRequired"
        "429":
          $ref: "#/components/responses/RateLimit"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: "API key: auros_pk_live_* or auros_pk_test_* (demo: auros_pk_test_demo)"
  schemas:
    ProtocolError:
      type: object
      required: [disclaimer, error]
      properties:
        disclaimer:
          type: string
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              enum: [unauthorized, validation_error, invalid_json, rate_limit, quota_exceeded]
            message:
              type: string
    ScoreRequest:
      type: object
      properties:
        description:
          type: string
          minLength: 10
          maxLength: 4000
        asset_type:
          type: string
          enum: [real_estate, private_fund, bonds, private_credit, commodities, stablecoins, other]
        issuer_type:
          type: string
          enum: [company_spv, existing_fund, individual, unsure]
        asset_class:
          type: string
          enum: [financial_instrument, art_utility, e_money, unsure]
        eu_nexus:
          type: string
          enum: [issuer_eu, asset_eu, investors_eu, no_eu, unsure]
        whitepaper:
          type: string
          enum: [ready, draft, none, unsure]
        investor_type:
          type: string
          enum: [professional, retail, mixed, unsure]
        value_eur:
          type: number
          exclusiveMinimum: 0
        jurisdiction:
          type: string
          maxLength: 64
        has_kyc:
          type: boolean
        has_data_room:
          type: boolean
        documents_count:
          type: integer
          minimum: 0
          maximum: 100
        score_id:
          type: string
          pattern: "^scr_[a-f0-9]{24}$"
          description: Continue an existing score session (returned by a prior POST /score)
        monitor_id:
          type: string
          pattern: "^mon_[a-f0-9]{24}$"
          description: Link this score to a premium monitor (`mon_…`)
        record_history:
          type: boolean
          default: true
          description: Persist snapshot for authenticated keys (demo key skips storage)
    ScoreResponse:
      type: object
      required: [disclaimer, score, grade, status, breakdown, mica_classification, critical_gaps, recommendations, recommended_jurisdictions, recommended_platforms, meta]
      properties:
        disclaimer:
          type: string
        score_id:
          type: string
          description: Session id for history lookups (`scr_…`)
        history_url:
          type: string
          format: uri
          description: GET URL for this session's score history
        score:
          type: number
          minimum: 0
          maximum: 100
        grade:
          type: string
        status:
          type: string
          enum: [ready, progress, early]
        breakdown:
          type: object
          properties:
            legal_structure: { type: number }
            kyc_aml: { type: number }
            mica_compliance: { type: number }
            data_room: { type: number }
            investor_protection: { type: number }
        mica_classification:
          type: string
          enum: [utility_token, asset_referenced_token, e_money_token, other_crypto_asset, financial_instrument, out_of_scope, uncertain]
        critical_gaps:
          type: array
          items: { type: string }
        recommendations:
          type: array
          items: { type: string }
        recommended_jurisdictions:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              score: { type: number }
              rationale: { type: string }
        recommended_platforms:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              name: { type: string }
              category: { type: string }
              apy: { type: number }
        meta:
          type: object
          properties:
            version: { type: string, const: "1.0" }
            computed_at: { type: string, format: date-time }
            request_id: { type: string }
            full_report_url: { type: string, format: uri }
            parsed_keywords:
              type: array
              items: { type: string }
    ScoreBatchRequest:
      type: object
      required: [items]
      properties:
        items:
          type: array
          minItems: 1
          maxItems: 20
          description: Score payloads (same schema as POST /score). Max 20 items.
          items:
            $ref: "#/components/schemas/ScoreRequest"
        record_history:
          type: boolean
          default: true
          description: Default for all items unless overridden per item
    ScoreBatchResponse:
      type: object
      required: [disclaimer, total, succeeded, failed, items, meta]
      properties:
        disclaimer:
          type: string
        total:
          type: integer
          minimum: 0
        succeeded:
          type: integer
          minimum: 0
        failed:
          type: integer
          minimum: 0
        items:
          type: array
          items:
            oneOf:
              - allOf:
                  - type: object
                    required: [index, ok]
                    properties:
                      index:
                        type: integer
                        minimum: 0
                      ok:
                        type: boolean
                        enum: [true]
                  - $ref: "#/components/schemas/ScoreResponse"
              - type: object
                required: [index, ok, error]
                properties:
                  index:
                    type: integer
                    minimum: 0
                  ok:
                    type: boolean
                    enum: [false]
                  error:
                    type: object
                    required: [code, message]
                    properties:
                      code:
                        type: string
                      message:
                        type: string
        meta:
          type: object
          properties:
            version: { type: string, const: "1.0" }
            computed_at: { type: string, format: date-time }
            request_id: { type: string }
    ScoreHistoryResponse:
      type: object
      required: [disclaimer, score_id, kind, total, entries, meta]
      properties:
        disclaimer: { type: string }
        score_id: { type: string }
        kind:
          type: string
          enum: [session, monitor]
        total: { type: integer, minimum: 0 }
        entries:
          type: array
          items:
            $ref: "#/components/schemas/ScoreHistoryEntry"
        meta:
          type: object
          required: [version, computed_at]
          properties:
            version: { type: string, const: "1.0" }
            computed_at: { type: string, format: date-time }
    ScoreHistoryEntry:
      type: object
      required: [id, score, grade, status, breakdown, mica_classification, created_at]
      properties:
        id: { type: integer }
        score: { type: number, minimum: 0, maximum: 100 }
        grade: { type: string }
        status:
          type: string
          enum: [ready, progress, early]
        breakdown:
          type: object
          properties:
            legal_structure: { type: number }
            kyc_aml: { type: number }
            mica_compliance: { type: number }
            data_room: { type: number }
            investor_protection: { type: number }
        mica_classification:
          type: string
          enum: [utility_token, asset_referenced_token, e_money_token, other_crypto_asset, financial_instrument, out_of_scope, uncertain]
        request:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
    ProductsResponse:
      type: object
      required: [disclaimer, products, pagination, fetched_at]
      properties:
        disclaimer:
          type: string
        products:
          type: array
          items:
            $ref: "#/components/schemas/ProductItem"
        pagination:
          type: object
          properties:
            page: { type: integer }
            limit: { type: integer }
            total: { type: integer }
            total_pages: { type: integer }
        fetched_at:
          type: string
          format: date-time
    ProductItem:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        platform: { type: string }
        category: { type: string }
        apy: { type: number }
        tvl_usd: { type: number }
        chains:
          type: array
          items: { type: string }
        jurisdiction: { type: string, nullable: true }
        affiliate_url: { type: string }
        min_investment_usd: { type: number, nullable: true }
        live: { type: boolean }
    BenchmarksResponse:
      type: object
      required: [disclaimer, category, metrics, as_of]
      properties:
        disclaimer:
          type: string
        category:
          type: string
          enum: [bonds, stablecoins, real_estate, private_credit, commodities]
        jurisdiction:
          type: string
          description: Present when filtered by jurisdiction query param
        metrics:
          type: object
          required: [median_apy, p25_apy, p75_apy, product_count]
          properties:
            median_apy: { type: number, description: Median APY (%), live hub or static fallback }
            p25_apy: { type: number, description: 25th percentile APY (%) }
            p75_apy: { type: number, description: 75th percentile APY (%) }
            product_count: { type: integer, minimum: 0 }
        as_of:
          type: string
          description: ISO timestamp (live hub) or edition date (static fallback)
    CompareRequest:
      type: object
      description: |
        Either pass `product_ids` (2–4 IDs) for an explicit comparison, or omit IDs and use filter fields
        to select the top matches (sorted by APY).
      properties:
        product_ids:
          type: array
          minItems: 2
          maxItems: 4
          items:
            type: string
            minLength: 1
        category:
          type: string
          enum: [stablecoins, real_estate, bonds, commodities, private_credit, all]
          default: all
        yield_min:
          type: number
          minimum: 0
        risk_tier:
          type: string
          enum: [conservative, core, advanced]
        jurisdiction:
          type: string
          maxLength: 64
        limit:
          type: integer
          minimum: 2
          maximum: 4
          default: 4
          description: Max products to return in filter mode
    CompareProduct:
      allOf:
        - $ref: "#/components/schemas/ProductItem"
        - type: object
          properties:
            asset_class:
              type: string
              description: API category (stablecoins, real_estate, bonds, etc.)
            sub_category:
              type: string
              description: Comparator sub-category (treasury, sovereign, prime, etc.)
            risk_tier:
              type: string
              enum: [conservative, core, advanced]
            liquidity_days:
              type: integer
            fees:
              type: string
            accredited_only:
              type: boolean
    CompareResponse:
      type: object
      required: [disclaimer, mode, products, comparison, fetched_at, meta]
      properties:
        disclaimer:
          type: string
        mode:
          type: string
          enum: [product_ids, filter]
        products:
          type: array
          minItems: 2
          maxItems: 4
          items:
            $ref: "#/components/schemas/CompareProduct"
        comparison:
          type: object
          required: [product_count, share_url, highlights]
          properties:
            product_count:
              type: integer
            share_url:
              type: string
              format: uri
            product_ids:
              type: array
              items:
                type: string
            filters:
              type: object
              properties:
                category:
                  type: string
                yield_min:
                  type: number
                risk_tier:
                  type: string
                jurisdiction:
                  type: string
                limit:
                  type: integer
            highlights:
              type: object
              properties:
                apy:
                  type: array
                  items:
                    type: string
                    nullable: true
                    enum: [best, worst, null]
                tvl_usd:
                  type: array
                  items:
                    type: string
                    nullable: true
                    enum: [best, worst, null]
                min_investment_usd:
                  type: array
                  items:
                    type: string
                    nullable: true
                    enum: [best, worst, null]
                liquidity_days:
                  type: array
                  items:
                    type: string
                    nullable: true
                    enum: [best, worst, null]
        fetched_at:
          type: string
          format: date-time
        meta:
          type: object
          properties:
            version:
              type: string
              const: "1.0"
            computed_at:
              type: string
              format: date-time
            request_id:
              type: string
    JurisdictionsResponse:
      type: object
      required: [disclaimer, jurisdictions, query]
      properties:
        disclaimer:
          type: string
        jurisdictions:
          type: array
          items:
            $ref: "#/components/schemas/JurisdictionItem"
        query:
          type: object
    JurisdictionItem:
      type: object
      properties:
        id: { type: string }
        score: { type: number }
        rationale: { type: string }
        fee_min_eur: { type: number }
        fee_max_eur: { type: number }
        license_max_months: { type: number }
        asset_types:
          type: array
          items: { type: string }
        kyc_level: { type: string }
    ChecklistRequest:
      type: object
      required: [asset_type, jurisdiction]
      properties:
        asset_type:
          type: string
          enum: [real_estate, private_fund, bonds, private_credit]
        jurisdiction:
          type: string
          minLength: 2
          maxLength: 64
        structure:
          type: string
          enum: [spv, fund, trust, other]
          default: spv
    ChecklistResponse:
      type: object
      required: [disclaimer, asset_type, jurisdiction, structure, items, total_items, estimated_total_days, estimated_total_cost_eur]
      properties:
        disclaimer: { type: string }
        asset_type: { type: string }
        jurisdiction: { type: string }
        structure: { type: string }
        items:
          type: array
          items:
            $ref: "#/components/schemas/ChecklistItem"
        total_items: { type: integer }
        estimated_total_days: { type: integer }
        estimated_total_cost_eur: { type: number }
    ChecklistItem:
      type: object
      properties:
        id: { type: string }
        category: { type: string }
        title: { type: string }
        regulatory_reference: { type: string }
        required: { type: boolean }
        estimated_time_days: { type: integer }
        estimated_cost_eur: { type: number }
        dependencies:
          type: array
          items: { type: string }
        auros_tip: { type: string }
    CreateKeyRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email
          maxLength: 254
    CreateKeyResponse:
      type: object
      required: [disclaimer, ok]
      properties:
        disclaimer: { type: string }
        ok: { type: boolean }
        api_key: { type: string }
        tier:
          type: string
          enum: [free]
        monthly_limit: { type: integer }
        message: { type: string }
    MonitorRequest:
      type: object
      required: [asset_type, jurisdiction]
      properties:
        asset_type:
          type: string
          enum: [real_estate, private_fund, bonds, private_credit, commodities, stablecoins, other]
        jurisdiction: { type: string }
        structure:
          type: string
          enum: [spv, fund, trust, other]
          default: spv
        webhook_url: { type: string, format: uri }
        email: { type: string, format: email }
        alert_on:
          type: array
          items:
            type: string
            enum: [score_change, regulation_update, new_requirement, deadline_approaching]
        baseline_score: { type: integer, minimum: 0, maximum: 100 }
    MonitorResponse:
      type: object
      properties:
        disclaimer: { type: string }
        id: { type: string }
        status: { type: string, enum: [active, paused] }
        asset_type: { type: string }
        jurisdiction: { type: string }
        structure: { type: string }
        alert_on:
          type: array
          items: { type: string }
        webhook_url: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        pricing: { type: object }
    DossierRequest:
      type: object
      properties:
        score_id: { type: string }
        score:
          $ref: "#/components/schemas/ScoreRequest"
        format:
          type: string
          enum: [pdf, json, zip]
          default: pdf
        sections:
          type: array
          items: { type: string }
        branding:
          type: object
          properties:
            company_name: { type: string }
            logo_url: { type: string, format: uri }
        locale:
          type: string
          enum: [fr, en, es]
    DossierResponse:
      type: object
      properties:
        disclaimer: { type: string }
        dossier_id: { type: string }
        format: { type: string }
        download_url: { type: string, format: uri }
        expires_in_hours: { type: integer }
        full_report_url: { type: string, format: uri }
    AttestCreateRequest:
      type: object
      properties:
        dossier_id: { type: string }
        score_id: { type: string }
        score:
          $ref: "#/components/schemas/ScoreRequest"
        sections:
          type: array
          items: { type: string }
        locale:
          type: string
          enum: [fr, en, es]
          default: fr
    AttestResponse:
      type: object
      properties:
        id: { type: string }
        content_hash: { type: string }
        signature: { type: string }
        verify_url: { type: string, format: uri }
        dossier_id: { type: string }
        locale: { type: string }
        public:
          type: object
          properties:
            score: { type: number }
            grade: { type: string }
            status: { type: string }
            mica_classification: { type: string }
            sections:
              type: array
              items: { type: string }
            generated_at: { type: string, format: date-time }
        created_at: { type: string, format: date-time }
        disclaimer: { type: string }
        valid: { type: boolean }
    AttestVerifyResponse:
      type: object
      properties:
        valid: { type: boolean }
        id: { type: string }
        content_hash: { type: string }
        signature: { type: string }
        reason: { type: string }
        disclaimer: { type: string }
        public: { type: object }
    ChargeflowCreateRequest:
      type: object
      required: [session]
      properties:
        session:
          type: object
          required: [external_session_id, started_at, ended_at, energy_kwh]
          properties:
            external_session_id: { type: string }
            started_at: { type: string }
            ended_at: { type: string }
            energy_kwh: { type: number }
            operator_id: { type: string }
            source_format:
              type: string
              enum: [ocpi, ocpp_summary, csv, json_custom]
            location:
              type: object
              properties:
                country: { type: string }
                site_id: { type: string }
                connector_id: { type: string }
        attributes:
          type: object
          properties:
            renewable_claim:
              type: string
              enum: [none, go, rec, ppa_matched, unknown]
    ChargeflowWCreateRequest:
      type: object
      required: [flow]
      properties:
        flow:
          type: object
          required: [external_flow_id, started_at, ended_at, volume_m3]
          properties:
            external_flow_id: { type: string }
            started_at: { type: string }
            ended_at: { type: string }
            volume_m3: { type: number }
            operator_id: { type: string }
            source_format:
              type: string
              enum: [csv, scada_summary, json_custom]
            location:
              type: object
              properties:
                country: { type: string }
                site_id: { type: string }
                basin_id: { type: string }
        attributes:
          type: object
          properties:
            asset_class_hint: { type: string }
            compare_ref_id: { type: string }
            notes: { type: string }
    ChargeflowFCreateRequest:
      type: object
      required: [window]
      properties:
        window:
          type: object
          required: [external_window_id, started_at, ended_at, capacity_kw]
          properties:
            external_window_id: { type: string }
            started_at: { type: string }
            ended_at: { type: string }
            capacity_kw: { type: number }
            direction:
              type: string
              enum: [up, down, both]
            operator_id: { type: string }
            source_format:
              type: string
              enum: [csv, scada_summary, json_custom]
            location:
              type: object
              properties:
                country: { type: string }
                site_id: { type: string }
                asset_id: { type: string }
        attributes:
          type: object
          properties:
            program_hint:
              type: string
              enum: [fcr, afrr, mfrr, demand_response, unknown]
            compare_ref_id: { type: string }
            notes: { type: string }
    ChargeflowResponse:
      type: object
      properties:
        id: { type: string }
        unit_kind: { type: string, enum: [e, w, f] }
        content_hash: { type: string }
        signature: { type: string }
        verify_url: { type: string, format: uri }
        status: { type: string, enum: [active, retired] }
        retired_at: { type: string, format: date-time, nullable: true }
        retire_reason: { type: string, nullable: true }
        public: { type: object }
        created_at: { type: string, format: date-time }
        disclaimer: { type: string }
        valid: { type: boolean }
    ChargeflowListItem:
      type: object
      properties:
        id: { type: string }
        unit_kind: { type: string, enum: [e, w, f] }
        status: { type: string, enum: [active, retired] }
        created_at: { type: string, format: date-time }
        retired_at: { type: string, format: date-time, nullable: true }
        operator_id: { type: string, nullable: true }
        external_ref: { type: string }
        content_hash: { type: string }
        energy_kwh: { type: number }
        volume_m3: { type: number }
        capacity_kw: { type: number }
    ChargeflowListResponse:
      type: object
      properties:
        total: { type: integer }
        limit: { type: integer }
        offset: { type: integer }
        items:
          type: array
          items:
            $ref: "#/components/schemas/ChargeflowListItem"
    ChargeflowEBatchRequest:
      type: object
      required: [items]
      properties:
        items:
          type: array
          minItems: 1
          maxItems: 50
          items:
            $ref: "#/components/schemas/ChargeflowCreateRequest"
    ChargeflowWBatchRequest:
      type: object
      required: [items]
      properties:
        items:
          type: array
          minItems: 1
          maxItems: 50
          items:
            $ref: "#/components/schemas/ChargeflowWCreateRequest"
    ChargeflowFBatchRequest:
      type: object
      required: [items]
      properties:
        items:
          type: array
          minItems: 1
          maxItems: 50
          items:
            $ref: "#/components/schemas/ChargeflowFCreateRequest"
    ChargeflowBatchResponse:
      type: object
      properties:
        total: { type: integer }
        succeeded: { type: integer }
        failed: { type: integer }
        items:
          type: array
          items:
            type: object
    ChargeflowFromOcpiRequest:
      type: object
      properties:
        cdrs:
          type: array
          maxItems: 50
          items:
            type: object
            required: [id, start_date_time, end_date_time, total_energy]
            properties:
              id: { type: string }
              start_date_time: { type: string }
              end_date_time: { type: string }
              total_energy: { type: number }
              country: { type: string }
              location_id: { type: string }
              evse_uid: { type: string }
              connector_id: { type: string }
              cpo_id: { type: string }
              party_id: { type: string }
              auth_id: { type: string }
        csv_rows:
          type: array
          maxItems: 50
          items:
            type: object
            required: [external_session_id, started_at, ended_at, energy_kwh]
            properties:
              external_session_id: { type: string }
              started_at: { type: string }
              ended_at: { type: string }
              energy_kwh: { type: number }
              country: { type: string }
              site_id: { type: string }
              connector_id: { type: string }
              operator_id: { type: string }
              vehicle_ref: { type: string }
        default_operator_id: { type: string }
        attributes:
          $ref: "#/components/schemas/ChargeflowCreateRequest"
    ChargeflowFromOcpiResponse:
      allOf:
        - $ref: "#/components/schemas/ChargeflowBatchResponse"
        - type: object
          properties:
            source: { type: string, enum: [ocpi_stub] }
            disclaimer: { type: string }
    ChargeflowPartnersListResponse:
      type: object
      properties:
        disclaimer: { type: string }
        partners:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                enum: [tesla_fleet, total_energies, generic_ocpi]
              label: { type: string }
              description: { type: string }
              modes:
                type: array
                items: { type: string, enum: [sandbox, live] }
              credential_fields:
                type: array
                items: { type: string }
              disclaimer: { type: string }
    ChargeflowPartnerSyncRequest:
      type: object
      required: [partner]
      properties:
        partner:
          type: string
          enum: [tesla_fleet, total_energies, generic_ocpi]
        mode:
          type: string
          enum: [sandbox, live]
          default: sandbox
        operator_id: { type: string }
        limit: { type: integer, minimum: 1, maximum: 50 }
        credentials:
          type: object
          properties:
            access_token: { type: string }
            vin: { type: string }
            base_url: { type: string, format: uri }
            token: { type: string }
            party_id: { type: string }
        sessions:
          type: array
          maxItems: 50
          items: { type: object }
    ChargeflowPartnerSyncResponse:
      allOf:
        - $ref: "#/components/schemas/ChargeflowBatchResponse"
        - type: object
          properties:
            partner:
              type: string
              enum: [tesla_fleet, total_energies, generic_ocpi]
            mode: { type: string, enum: [sandbox, live] }
            source: { type: string }
            disclaimer: { type: string }
    WebhookRegisterRequest:
      type: object
      required: [url]
      properties:
        url: { type: string, format: uri }
        events:
          type: array
          items:
            type: string
            enum:
              - score_change
              - regulation_update
              - new_requirement
              - deadline_approaching
              - regulatory.update
              - green.index.changelog
              - chargeflow.unit.minted
              - chargeflow.unit.retired
    WebhookDelivery:
      type: object
      properties:
        id: { type: string }
        webhook_id: { type: string, nullable: true }
        event: { type: string }
        status:
          type: string
          enum: [pending, delivered, failed, dead_letter]
        attempts: { type: integer }
        last_error: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        next_retry_at: { type: string, format: date-time, nullable: true }
        delivered_at: { type: string, format: date-time, nullable: true }
        url: { type: string, format: uri }
    WebhookDeliveriesResponse:
      type: object
      properties:
        webhook_id: { type: string }
        deliveries:
          type: array
          items:
            $ref: "#/components/schemas/WebhookDelivery"
        total: { type: integer }
        limit: { type: integer }
        offset: { type: integer }
    WebhookReplayRequest:
      type: object
      properties:
        delivery_id: { type: string }
    WebhookReplayResponse:
      type: object
      properties:
        delivery:
          $ref: "#/components/schemas/WebhookDelivery"
        ok: { type: boolean }
    RegulatoryFeedItem:
      type: object
      required: [id, title, source, jurisdiction, published_at, url, summary, tags]
      properties:
        id: { type: string }
        title: { type: string }
        source:
          type: string
          enum: [ESMA, AMF, BaFin, EC, EBA]
        jurisdiction: { type: string }
        published_at: { type: string, format: date }
        url: { type: string, format: uri }
        summary: { type: string }
        tags:
          type: array
          items:
            type: string
            enum: [mica, esma, amf, bafin]
        severity:
          type: string
          enum: [low, medium, high]
        event_type:
          type: string
          enum: [regulation_update, new_requirement, deadline_approaching]
        deadline: { type: string, nullable: true }
    RegulatoryFeedResponse:
      type: object
      properties:
        disclaimer: { type: string }
        last_updated: { type: string, format: date }
        total: { type: integer }
        items:
          type: array
          items:
            $ref: "#/components/schemas/RegulatoryFeedItem"
        meta:
          type: object
          properties:
            version: { type: string }
            source: { type: string, example: curated }
            note: { type: string }
    RegulatorySubscribeRequest:
      type: object
      properties:
        jurisdictions:
          type: array
          items: { type: string }
          minItems: 1
          default: [eu]
        tags:
          type: array
          items:
            type: string
            enum: [mica, esma, amf, bafin]
        webhook_url: { type: string, format: uri }
        email: { type: string, format: email }
    RegulatorySubscribeResponse:
      type: object
      properties:
        disclaimer: { type: string }
        id: { type: string }
        jurisdictions:
          type: array
          items: { type: string }
        tags:
          type: array
          items: { type: string }
        webhook_url: { type: string, nullable: true }
        events:
          type: array
          items:
            type: string
            enum: [regulatory.update]
        status: { type: string, enum: [active] }
        created_at: { type: string, format: date-time }
    WattScore:
      type: object
      required: [rating, lifetime_gwh, energy_value_eur, tier]
      properties:
        rating:
          type: integer
          minimum: 0
          maximum: 100
          description: Indicative energy-value credibility rating
        lifetime_gwh:
          type: number
          nullable: true
          description: Estimated lifetime energy production (GWh)
        energy_value_eur:
          type: integer
          nullable: true
          description: Indicative lifetime energy value (EUR)
        tier:
          type: string
          enum: [high, mid, early]
    CarbonQualityScore:
      type: object
      required: [score, tier]
      properties:
        score:
          type: integer
          minimum: 0
          maximum: 100
        tier:
          type: string
          enum: [premium, acceptable, caution, avoid]
        registry:
          type: string
          enum: [verra, gold_standard, mixed, unknown]
        ccp_aligned:
          type: boolean
          nullable: true
    GreenNotFoundError:
      type: object
      properties:
        ok: { type: boolean, example: false }
        error: { type: string, example: not_found }
    GreenAssetTypeError:
      type: object
      properties:
        ok: { type: boolean, example: false }
        error:
          type: string
          enum: [not_energy_asset, not_carbon_asset]
        id: { type: string }
    GreenWattPublicResponse:
      type: object
      properties:
        ok: { type: boolean, example: true }
        id: { type: string }
        name: { type: string }
        watt_score:
          $ref: "#/components/schemas/WattScore"
        disclaimer: { type: string }
        batch_api: { type: string, example: /api/v1/green/watt/batch }
        docs: { type: string, format: uri }
        generated_at: { type: string, format: date-time }
    GreenCqsPublicResponse:
      type: object
      properties:
        ok: { type: boolean, example: true }
        id: { type: string }
        name: { type: string }
        carbon_quality:
          $ref: "#/components/schemas/CarbonQualityScore"
        disclaimer: { type: string }
        batch_api: { type: string, example: /api/v1/green/carbon-quality/batch }
        docs: { type: string, format: uri }
        generated_at: { type: string, format: date-time }
    GreenWattBatchRequest:
      type: object
      required: [items]
      properties:
        items:
          type: array
          minItems: 1
          maxItems: 50
          items:
            type: object
            properties:
              id:
                type: string
                description: AUROS Green compare reference id
              text:
                type: string
                minLength: 10
                description: Free-form energy asset description
            description: Each item needs `id` or `text`
    GreenCqsBatchRequest:
      type: object
      required: [items]
      properties:
        items:
          type: array
          minItems: 1
          maxItems: 50
          items:
            type: object
            properties:
              id:
                type: string
                description: AUROS Green compare reference id
              text:
                type: string
                minLength: 10
                description: Free-form carbon credit description
            description: Each item needs `id` or `text`
    GreenWattBatchItemOk:
      type: object
      properties:
        index: { type: integer }
        ok: { type: boolean, example: true }
        id: { type: string, nullable: true }
        watt_score:
          $ref: "#/components/schemas/WattScore"
    GreenWattBatchItemError:
      type: object
      properties:
        index: { type: integer }
        ok: { type: boolean, example: false }
        error:
          type: object
          properties:
            code:
              type: string
              enum: [not_found, not_energy_asset, validation_error]
            message: { type: string }
    GreenWattBatchResponse:
      type: object
      properties:
        disclaimer: { type: string }
        total: { type: integer }
        succeeded: { type: integer }
        failed: { type: integer }
        items:
          type: array
          items:
            oneOf:
              - $ref: "#/components/schemas/GreenWattBatchItemOk"
              - $ref: "#/components/schemas/GreenWattBatchItemError"
        meta:
          type: object
          properties:
            version: { type: string, example: "1.0" }
            computed_at: { type: string, format: date-time }
    GreenCqsBatchItemOk:
      type: object
      properties:
        index: { type: integer }
        ok: { type: boolean, example: true }
        id: { type: string, nullable: true }
        carbon_quality:
          $ref: "#/components/schemas/CarbonQualityScore"
    GreenCqsBatchItemError:
      type: object
      properties:
        index: { type: integer }
        ok: { type: boolean, example: false }
        error:
          type: object
          properties:
            code:
              type: string
              enum: [not_found, not_carbon_asset, validation_error]
            message: { type: string }
    GreenCqsBatchResponse:
      type: object
      properties:
        disclaimer: { type: string }
        total: { type: integer }
        succeeded: { type: integer }
        failed: { type: integer }
        items:
          type: array
          items:
            oneOf:
              - $ref: "#/components/schemas/GreenCqsBatchItemOk"
              - $ref: "#/components/schemas/GreenCqsBatchItemError"
        meta:
          type: object
          properties:
            version: { type: string, example: "1.0" }
            computed_at: { type: string, format: date-time }
  responses:
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProtocolError"
          example:
            disclaimer: "Indicative intelligence only — not legal, tax, or investment advice."
            error:
              code: unauthorized
              message: "Invalid API key"
    ValidationError:
      description: Invalid request parameters or body
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProtocolError"
    RateLimit:
      description: Rate limit or monthly quota exceeded
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
            example: 100
        X-RateLimit-Remaining:
          schema:
            type: integer
            example: 0
        X-RateLimit-Reset:
          schema:
            type: integer
            description: Unix timestamp when the limit window resets
            example: 1751328000
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProtocolError"
          example:
            disclaimer: "Indicative intelligence only — not legal, tax, or investment advice."
            error:
              code: quota_exceeded
              message: "Monthly quota exceeded (100 requests/month on free tier)"
    PremiumRequired:
      description: Premium tier required (live key or paid plan)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProtocolError"
          example:
            disclaimer: "Indicative intelligence only — not legal, tax, or investment advice."
            error:
              code: premium_required
              message: "Endpoint réservé au tier premium. Utilisez une clé auros_pk_live_*."
